:root {
  --color-content-default: rgb(40, 40, 40);
  --color-surface-0: rgb(255, 255, 255);
  --color-surface-1: rgb(246, 246, 246);

  --color-border-1: rgba(0, 0, 0, 0.12);
  --color-border-2: rgba(0, 0, 0, 0.2);
  --color-border-3: rgba(0, 0, 0, 0.3);

  --color-shadow-0: rgba(0, 0, 0, 0.06);
  --color-shadow-1: rgba(0, 0, 0, 0.1);
}
