:root[data-theme='dark'] {
  --color-brand: rgb(165, 149, 214);
  --color-primary: rgb(165, 149, 214);
  --color-secondary: rgb(145, 204, 217);
  --color-surface-0: rgb(64, 64, 64);
  --color-surface-1: rgb(56, 56, 56);
  --color-surface-2: rgb(40, 40, 40);
  --color-surface-3: rgb(32, 32, 32);
  --color-surface-4: rgb(24, 24, 24);
  --color-surface-info: rgb(0, 79, 86);
  --color-surface-system: rgb(0, 60, 100);
  --color-surface-warning: rgb(96, 89, 59);
  --color-surface-positive: rgb(1, 86, 47);
  --color-surface-negative: rgb(87, 0, 0);
  --color-surface-primary: rgb(170, 150, 255);
  --color-content-default: rgb(255, 255, 255);
  --color-content-disable: rgb(148, 148, 148);
  --color-content-ghost: rgb(102, 102, 102);
  --color-content-bright: rgb(255, 255, 255);
  --color-content-din: rgb(0, 0, 0);
  --color-content-primary: rgb(24, 24, 24);
  --color-content-info: rgb(128, 227, 235);
  --color-content-system: rgb(178, 223, 253);
  --color-content-warning: rgb(255, 255, 255);
  --color-content-positive: rgb(107, 255, 188);
  --color-content-negative: rgb(255, 184, 184);
  --color-border-1: rgb(255, 255, 255, 0.22);
  --color-border-2: rgb(255, 255, 255, 0.18);
  --color-border-3: rgb(255, 255, 255, 0.08);
  --color-status-focus: rgb(194, 38, 251);
  --color-status-success: rgb(53, 94, 75);
  --color-status-error: rgb(123, 61, 61);
  --color-status-delete: rgb(182, 12, 12);
  --color-status-positive: rgb(107, 255, 188);
  --color-status-negative: rgb(255, 184, 184);
  --color-shadow-0: rgb(0, 0, 0, 0.05);
  --color-shadow-1: rgb(0, 0, 0, 0.18);
  --color-interaction-hover: rgb(255, 255, 255, 0.08);
  --color-interaction-action: rgb(255, 255, 255, 0.16);
}
