:root[data-theme='light'] {
  --color-brand: rgb(67, 1, 230);
  --color-primary: rgb(67, 1, 230);
  --color-secondary: rgb(0, 97, 117);
  --color-surface-0: rgb(255, 255, 255);
  --color-surface-1: rgb(246, 246, 246);
  --color-surface-2: rgb(237, 237, 237);
  --color-surface-3: rgb(227, 227, 227);
  --color-surface-4: rgb(206, 206, 206);
  --color-surface-info: rgb(128, 227, 235);
  --color-surface-system: rgb(178, 223, 253);
  --color-surface-warning: rgb(253, 233, 155);
  --color-surface-positive: rgb(232, 255, 242);
  --color-surface-negative: rgb(255, 232, 232);
  --color-surface-primary: rgb(232, 240, 255);
  --color-content-default: rgb(40, 40, 40);
  --color-content-disable: rgb(89, 89, 89);
  --color-content-ghost: rgb(140, 140, 140);
  --color-content-bright: rgb(255, 255, 255);
  --color-content-din: rgb(0, 0, 0);
  --color-content-primary: rgb(255, 255, 255);
  --color-content-info: rgb(0, 79, 86);
  --color-content-system: rgb(0, 60, 100);
  --color-content-warning: rgb(40, 40, 40);
  --color-content-positive: rgb(0, 122, 66);
  --color-content-negative: rgb(168, 11, 11);
  --color-border-1: rgb(0, 0, 0, 0.22);
  --color-border-2: rgb(0, 0, 0, 0.18);
  --color-border-3: rgb(0, 0, 0, 0.08);
  --color-status-focus: rgb(194, 38, 251);
  --color-status-success: rgb(132, 235, 188);
  --color-status-error: rgb(250, 190, 190);
  --color-status-delete: rgb(230, 15, 15);
  --color-status-positive: rgb(0, 122, 66);
  --color-status-negative: rgb(168, 11, 11);
  --color-shadow-0: rgb(0, 0, 0, 0.05);
  --color-shadow-1: rgb(0, 0, 0, 0.18);
  --color-interaction-hover: rgb(0, 0, 0, 0.06);
  --color-interaction-action: rgb(0, 0, 0, 0.12);
}
