@use './tokens' as *;

* {
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  font-family: $font-family-body;
  background-color: $color-surface-2;
  color: $color-content-default;
}
