$color-brand: var(--color-brand);
$color-primary: var(--color-primary);
$color-secondary: var(--color-secondary);
$color-surface-0: var(--color-surface-0);
$color-surface-1: var(--color-surface-1);
$color-surface-2: var(--color-surface-2);
$color-surface-3: var(--color-surface-3);
$color-surface-4: var(--color-surface-4);
$color-surface-info: var(--color-surface-info);
$color-surface-system: var(--color-surface-system);
$color-surface-warning: var(--color-surface-warning);
$color-surface-positive: var(--color-surface-positive);
$color-surface-negative: var(--color-surface-negative);
$color-surface-primary: var(--color-surface-primary);
$color-content-default: var(--color-content-default);
$color-content-disable: var(--color-content-disable);
$color-content-ghost: var(--color-content-ghost);
$color-content-bright: var(--color-content-bright);
$color-content-din: var(--color-content-din);
$color-content-primary: var(--color-content-primary);
$color-content-info: var(--color-content-info);
$color-content-system: var(--color-content-system);
$color-content-warning: var(--color-content-warning);
$color-content-positive: var(--color-content-positive);
$color-content-negative: var(--color-content-negative);
$color-border-1: var(--color-border-1);
$color-border-2: var(--color-border-2);
$color-border-3: var(--color-border-3);
$color-status-focus: var(--color-status-focus);
$color-status-success: var(--color-status-success);
$color-status-error: var(--color-status-error);
$color-status-delete: var(--color-status-delete);
$color-status-positive: var(--color-status-positive);
$color-status-negative: var(--color-status-negative);

$color-shadow-0: var(--color-shadow-0);
$color-shadow-1: var(--color-shadow-1);
