@mixin direction-classes($prefix: '') {
  &--#{$prefix}dir-row {
    grid-auto-flow: column;
  }
  &--#{$prefix}dir-row-reverse {
    grid-auto-flow: column;
    direction: rtl;
  }
  &--#{$prefix}dir-column {
    grid-auto-flow: row;
  }
  &--#{$prefix}dir-column-reverse {
    grid-auto-flow: row;
    direction: rtl;
  }
}

@mixin align-items-classes($prefix: '') {
  &--#{$prefix}ai-start {
    align-items: start;
  }
  &--#{$prefix}ai-center {
    align-items: center;
  }
  &--#{$prefix}ai-end {
    align-items: end;
  }
  &--#{$prefix}ai-stretch {
    align-items: stretch;
  }
  &--#{$prefix}ai-baseline {
    align-items: baseline;
  }
}

@mixin justify-content-classes($prefix: '') {
  &--#{$prefix}jc-start {
    justify-content: start;
  }
  &--#{$prefix}jc-center {
    justify-content: center;
  }
  &--#{$prefix}jc-end {
    justify-content: end;
  }
  &--#{$prefix}jc-space-between {
    justify-content: space-between;
  }
  &--#{$prefix}jc-space-around {
    justify-content: space-around;
  }
  &--#{$prefix}jc-space-evenly {
    justify-content: space-evenly;
  }
}

@mixin justify-items-classes($prefix: '') {
  &--#{$prefix}ji-start {
    justify-items: start;
  }
  &--#{$prefix}ji-center {
    justify-items: center;
  }
  &--#{$prefix}ji-end {
    justify-items: end;
  }
  &--#{$prefix}ji-stretch {
    justify-items: stretch;
  }
  &--#{$prefix}ji-baseline {
    justify-items: baseline;
  }
}

@mixin align-content-classes($prefix: '') {
  &--#{$prefix}ac-start {
    align-content: start;
  }
  &--#{$prefix}ac-center {
    align-content: center;
  }
  &--#{$prefix}ac-end {
    align-content: end;
  }
  &--#{$prefix}ac-space-between {
    align-content: space-between;
  }
  &--#{$prefix}ac-space-around {
    align-content: space-around;
  }
  &--#{$prefix}ac-space-evenly {
    align-content: space-evenly;
  }
  &--#{$prefix}ac-stretch {
    align-content: stretch;
  }
}