@use '@/styles/tokens' as *;

$breakpoints: (
  sm: 640px,
  md: 768px,
  lg: 1024px,
);

@mixin gap-classes($name, $property) {
  @for $i from 1 through 12 {
    &--#{$name}-#{$i} {
      #{$property}: spacing('#{$i}');
    }
  }
}

@mixin cols-classes($prefix) {
  @for $i from 1 through 12 {
    &--#{$prefix}-#{$i} {
      grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
    }
  }
}

@mixin responsive-cols() {
  @each $name, $size in $breakpoints {
    @media (min-width: $size) {
      @for $i from 1 through 12 {
        &--#{$name}-cols-#{$i} {
          grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
        }
      }
    }
  }
}