@use '@/styles/tokens' as *;

@mixin surface-backgrounds() {
  &--bg-surface-0 {
    background-color: $color-surface-0;
  }
  &--bg-surface-1 {
    background-color: $color-surface-1;
  }
  &--bg-surface-2 {
    background-color: $color-surface-2;
  }
  &--bg-surface-3 {
    background-color: $color-surface-3;
  }
  &--bg-surface-4 {
    background-color: $color-surface-4;
  }
  &--bg-surface-info {
    background-color: $color-surface-info;
  }
  &--bg-surface-system {
    background-color: $color-surface-system;
  }
  &--bg-surface-warning {
    background-color: $color-surface-warning;
  }
  &--bg-surface-positive {
    background-color: $color-surface-positive;
  }
  &--bg-surface-negative {
    background-color: $color-surface-negative;
  }
  &--bg-surface-primary {
    background-color: $color-surface-primary;
  }
}